@font-face {
    font-family: 'Sansa Light';
    src: url('font/sansasoft-std-light.otf') format('opentype');
}

#traffic-widget {
    font-family: 'Sansa Light';
    background-color: white;
    max-width: 450px;
    min-width: 350px;
    padding: 12px;
    color: #707070
}

h2 {
    margin: 0;
    padding: 7px 0;
    color: #707070;
    border-bottom: 1px dashed #707070;
    font-size: 1rem;
    text-align: left;
}

.row {
    display: flex;
    width: 100%;
}

/* .col {
    width: 100%;
} */

.flex-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    align-self: flex-start;
}

.flex-middle {
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.rw-widget {
    text-align: left;
    font-size: 0.7rem;
    margin-bottom: 7px;
}

.carousel {
    border-bottom: 1px solid black;
    margin: 7px 0;
}

.icon {
    max-width: 120px;
    margin-right: 12px;
}

.carousel .slide-thumb img {
    width: 48px;
}

.carousel .control-dots .dot {
    background-color: #707070;
}

.slide-thumb {
    margin-bottom: 35px;
}

.slide-thumb .main-title {
    text-align: left;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    padding: 7px 0;
}

.slide-thumb .sub-title {
    text-align: left;
    font-size: 0.6rem;
}

.slide-thumb .values-time {
    font-weight: bold;
    font-size: 1.2rem;
    color: #cb3129;
    padding: 3px 0;
}

.slide-thumb .values-dist {
    font-size: 0.8rem;
    font-weight: bold;
}

.slide-thumb .description {
    font-size: 0.7rem;
    color: #a7c451;
    text-align: left;
    line-height: 1.5rem;
    padding: 12px 0;
}

.control  a {
    font-size: 0.6rem;
    text-decoration: none;
    color: #707070;
    float: right;
    padding: 3px 0;
}

.control .title {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    padding: 7px 0;
    margin-bottom: 12px;
}

.control-pad a {
    color: #a7c451;
}

.control-pad .button {
    padding: 7px 12px;
    background-color: #a7c451;
    color: white;
    font-size: 0.9rem;
    border-radius: 7px;
}

.list-item {
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 7px 0;
}

.direction-list {
    margin-bottom: 7px;
}

.list-item a {
    float: left;
}

.list-item a svg {
    width: 16px;
    height: 16px;
    padding: 4px;
}

.list-item a svg.fa-xmark {
    width: 20px;
    height: 20px;
    padding: 0;
    padding-top: 2px;
}